{% extends "../base.html" %} {% block content %}
<h1>Wish List Items</h1>
{% if item_list|length == 0 %}
<h3>No Wish Items Exist</h3>
<hr />

{% else %}
<table class="pure-table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for item in item_list %}
    <tr>
      <td>
        {{ item.description }}
      </td>
      <td>
        <a href="{% url 'item_delete' item.id %}">X</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

<a href="{% url 'item_create' %}" class="pure-button">Add Item</a>
{% endblock %}
